html,
body  {
    height: 100%;
    width: 100%;
}
body {
    background: #000;
    background-image: url("/images/windows-masked2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: cover;
    overflow-y: hidden;
}